In [195]:
import pandas as pd
from datetime import date, timedelta

new_file = pd.DataFrame({'code': [1, 2, 3], 'name': ['xiaowang', 'xiaoli', 'xiaochen']})
new_file = new_file.set_index('code')
print(new_file)
new_file.to_excel('/Users/admin/Desktop/xueyun/new_file.xlsx')
print('Done!')

          name
code
1     xiaowang
2       xiaoli
3     xiaochen
Done!

In [20]:
apla = pd.read_excel('/Users/admin/Downloads/4/Monthly Attendance Report-TC 04 For Share.XLS', 
                     sheet_name = 'TC 04 without weekend 0 0.5')
print(apla.shape)
print(apla.columns)
print(apla.head(1))
print('============================================')
print(apla.tail(1))

(1251, 22)
Index(['日期', '工号', 'Name', 'Section', '日期类型', '异常?', '进出次数\nfrequency',
       '工作时间\nworkhour', '1次卡', '2次卡', '3次卡', '4次卡', '5次卡', '6次卡', '7次卡',
       '8次卡', '9次卡', '10次卡', '11次卡', '12次卡', '13次卡', '14次卡'],
      dtype='object')
          日期      工号                  Name           Section 日期类型  异常?  \
0 2020-04-01  CC0004  Christian Scharinger  Technical Center  工作日  NaN

   进出次数\nfrequency 工作时间\nworkhour                 1次卡                 2次卡  \
0                2       08:31:00 2020-04-01 07:34:00 2020-04-01 16:05:00

   ... 5次卡 6次卡 7次卡 8次卡 9次卡 10次卡 11次卡 12次卡 13次卡 14次卡
0  ... NaT NaT NaT NaT NaT  NaT  NaT  NaT  NaT  NaT

[1 rows x 22 columns]
============================================
             日期      工号         Name        Section 日期类型  异常?  \
1250 2020-04-30  CC0105  Kelly Zhang  Future Corner  工作日  NaN

      进出次数\nfrequency 工作时间\nworkhour                 1次卡                 2次卡  \
1250                4       08:31:00 2020-04-30 08:02:00 2020-04-30 11:43:00

      ... 5次卡 6次卡 7次卡 8次卡 9次卡 10次卡 11次卡 12次卡 13次卡 14次卡
1250  ... NaT NaT NaT NaT NaT  NaT  NaT  NaT  NaT  NaT

[1 rows x 22 columns]

In [8]:
apla = pd.read_excel('/Users/admin/Downloads/4/Monthly Attendance Report-TC 04 For Share.XLS', 
                     sheet_name = 'TC 04 without weekend 0 0.5', header = 1)
print(apla.columns)

Index([   2020-04-01 00:00:00,               'CC0004', 'Christian Scharinger',
           'Technical Center',                  '工作日',           'Unnamed: 5',
                            2,               08:31:00,    2020-04-01 07:34:00,
          2020-04-01 16:05:00,          'Unnamed: 10',          'Unnamed: 11',
                'Unnamed: 12',          'Unnamed: 13',          'Unnamed: 14',
                'Unnamed: 15',          'Unnamed: 16',          'Unnamed: 17',
                'Unnamed: 18',          'Unnamed: 19',          'Unnamed: 20',
                'Unnamed: 21'],
      dtype='object')

In [25]:
apla = pd.read_excel('/Users/admin/Downloads/4/Monthly Attendance Report-TC 04 For Share.XLS', 
                     sheet_name = 'TC 04 without weekend 0 0.5', header = None)
apla.columns = ['日期', '工号', 'Name', 'Section', '日期类型', '异常?', '进出次数\nfrequency', 
                '工作时间\nworkhour', '1次卡', '2次卡', '3次卡', '4次卡', '5次卡', '6次卡', '7次卡', 
                '8次卡', '9次卡', '10次卡', '11次卡', '12次卡', '13次卡', '14次卡']
print(apla.columns)
apla.set_index('日期', inplace = True)
print(apla.columns)
apla.to_excel('/Users/admin/Desktop/xueyun/apla.xlsx')

Index(['日期', '工号', 'Name', 'Section', '日期类型', '异常?', '进出次数\nfrequency',
       '工作时间\nworkhour', '1次卡', '2次卡', '3次卡', '4次卡', '5次卡', '6次卡', '7次卡',
       '8次卡', '9次卡', '10次卡', '11次卡', '12次卡', '13次卡', '14次卡'],
      dtype='object')
Index(['工号', 'Name', 'Section', '日期类型', '异常?', '进出次数\nfrequency',
       '工作时间\nworkhour', '1次卡', '2次卡', '3次卡', '4次卡', '5次卡', '6次卡', '7次卡',
       '8次卡', '9次卡', '10次卡', '11次卡', '12次卡', '13次卡', '14次卡'],
      dtype='object')

In [23]:
apla = pd.read_excel('/Users/admin/Desktop/apla.xlsx', index_col = '日期')
print(apla.head(1))

    工号  Name  Section  日期类型  异常?  进出次数\nfrequency  工作时间\nworkhour  1次卡  2次卡  \
日期
日期  工号  Name  Section  日期类型  异常?  进出次数\nfrequency  工作时间\nworkhour  1次卡  2次卡

    3次卡  ...  5次卡  6次卡  7次卡  8次卡  9次卡  10次卡  11次卡  12次卡  13次卡  14次卡
日期       ...
日期  3次卡  ...  5次卡  6次卡  7次卡  8次卡  9次卡  10次卡  11次卡  12次卡  13次卡  14次卡

[1 rows x 21 columns]

In [39]:
# series可以是行，也可以是列，pandas中行和列都可以用series表示，具体是行还是列要看如何加入dataframe

# 创建series的第一种方法：把python字典转换成series
python_dic = {'x':100, 'y':200, 'z':300}
s1 = pd.Series(python_dic)
print(s1)
print(s1.index)

# 创建series的第二种方法：指定series的data和index
l1 = [100, 200, 300]
l2 = ['x', 'y', 'z']
s2 = pd.Series(l1, index = l2)
print(s2)
s3 = pd.Series([100, 200, 300], index = ['x', 'y', 'z'])
print(s3)

# 定义3个series，把series加入datafram
sa = pd.Series([1,2,3], index = [1,2,3], name = 'A')
sb = pd.Series([10,20,30], index = [1,2,3], name = 'B')
sc = pd.Series([100,200,300], index = [2,3,4], name = 'C')

# 用字典的形式把series加入dataframe
df = pd.DataFrame({sa.name:sa, sb.name:sb, sc.name:sc})
print(df)

# 用列表的形式把series加入dataframe
df = pd.DataFrame([sa, sb, sc])
print(df)

x    100
y    200
z    300
dtype: int64
Index(['x', 'y', 'z'], dtype='object')
x    100
y    200
z    300
dtype: int64
x    100
y    200
z    300
dtype: int64
     A     B      C
1  1.0  10.0    NaN
2  2.0  20.0  100.0
3  3.0  30.0  200.0
4  NaN   NaN  300.0
      1      2      3      4
A   1.0    2.0    3.0    NaN
B  10.0   20.0   30.0    NaN
C   NaN  100.0  200.0  300.0

In [203]:
books = pd.read_excel('/Users/admin/Desktop/xueyun/Book1.xlsx', skiprows = 3, usecols = 'C:F', 
                      dtype = {'ID': str, 'InStore': str, 'Date': str})
print(books)
print(books['ID'])
print(type(books['ID']))
books['ID'].at[0] = 1
print(books['ID'])

def add_month(start_date, month_delta):
    year_delta = month_delta // 12
    month = start_date.month + month_delta % 12
    if month != 12:
        year_delta += month //12
        month = month % 12
    return date(start_date.year + year_delta, month, start_date.day)    
    
start_date = date(2018, 1, 1)
for i in books.index:
#     books['ID'].at[i] = i + 1
#     books['InStore'].at[i] = 'yes' if i % 2 == 0 else 'no'
#     books['Date'].at[i] = add_month(start_date, i)
    books.at[i, 'ID'] = i + 1
    books.at[i, 'InStore'] = 'yes' if i % 2 == 0 else 'no'
    books.at[i, 'Date'] = add_month(start_date, i)
print(books)
books.set_index('ID', inplace = True)
books.to_excel('/Users/admin/Desktop/xueyun/Book1_modified.xlsx')

     ID      Name InStore Date
0   NaN  Book_001     NaN  NaN
1   NaN  Book_002     NaN  NaN
2   NaN  Book_003     NaN  NaN
3   NaN  Book_004     NaN  NaN
4   NaN  Book_005     NaN  NaN
5   NaN  Book_006     NaN  NaN
6   NaN  Book_007     NaN  NaN
7   NaN  Book_008     NaN  NaN
8   NaN  Book_009     NaN  NaN
9   NaN  Book_010     NaN  NaN
10  NaN  Book_011     NaN  NaN
11  NaN  Book_012     NaN  NaN
12  NaN  Book_013     NaN  NaN
13  NaN  Book_014     NaN  NaN
14  NaN  Book_015     NaN  NaN
15  NaN  Book_016     NaN  NaN
16  NaN  Book_017     NaN  NaN
17  NaN  Book_018     NaN  NaN
18  NaN  Book_019     NaN  NaN
19  NaN  Book_020     NaN  NaN
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
Name: ID, dtype: object
<class 'pandas.core.series.Series'>
0       1
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
Name: ID, dtype: object
    ID      Name InStore        Date
0    1  Book_001     yes  2018-01-01
1    2  Book_002      no  2018-02-01
2    3  Book_003     yes  2018-03-01
3    4  Book_004      no  2018-04-01
4    5  Book_005     yes  2018-05-01
5    6  Book_006      no  2018-06-01
6    7  Book_007     yes  2018-07-01
7    8  Book_008      no  2018-08-01
8    9  Book_009     yes  2018-09-01
9   10  Book_010      no  2018-10-01
10  11  Book_011     yes  2018-11-01
11  12  Book_012      no  2018-12-01
12  13  Book_013     yes  2019-01-01
13  14  Book_014      no  2019-02-01
14  15  Book_015     yes  2019-03-01
15  16  Book_016      no  2019-04-01
16  17  Book_017     yes  2019-05-01
17  18  Book_018      no  2019-06-01
18  19  Book_019     yes  2019-07-01
19  20  Book_020      no  2019-08-01

In [220]:
books = pd.read_excel('/Users/admin/Desktop/xueyun/Book2.xlsx', index_col = 'ID')

books['Price'] = books['ListPrice'] * books['Discount']
print(books)

books['Price'] = books['ListPrice'] * 0.6
print(books)

books['Discount'] = books['Discount'] + 0.4
for i in range(5,16):
    books['Price'].at[i] = books['ListPrice'].at[i] * books['Discount'].at[i]
print(books)

def add_2(x):
    return x + 2
books['ListPrice'] = books['ListPrice'].apply(add_2)
print(books)

books['ListPrice'] = books['ListPrice'].apply(lambda x: x + 3)
print(books)

        Name  ListPrice  Discount  Price
ID
1   Book_001         10       0.5    5.0
2   Book_002         20       0.5   10.0
3   Book_003         30       0.5   15.0
4   Book_004         40       0.5   20.0
5   Book_005         50       0.5   25.0
6   Book_006         60       0.5   30.0
7   Book_007         70       0.5   35.0
8   Book_008         80       0.5   40.0
9   Book_009         90       0.5   45.0
10  Book_010        100       0.5   50.0
11  Book_011        110       0.5   55.0
12  Book_012        120       0.5   60.0
13  Book_013        130       0.5   65.0
14  Book_014        140       0.5   70.0
15  Book_015        150       0.5   75.0
16  Book_016        160       0.5   80.0
17  Book_017        170       0.5   85.0
18  Book_018        180       0.5   90.0
19  Book_019        190       0.5   95.0
20  Book_020        200       0.5  100.0
        Name  ListPrice  Discount  Price
ID
1   Book_001         10       0.5    6.0
2   Book_002         20       0.5   12.0
3   Book_003         30       0.5   18.0
4   Book_004         40       0.5   24.0
5   Book_005         50       0.5   30.0
6   Book_006         60       0.5   36.0
7   Book_007         70       0.5   42.0
8   Book_008         80       0.5   48.0
9   Book_009         90       0.5   54.0
10  Book_010        100       0.5   60.0
11  Book_011        110       0.5   66.0
12  Book_012        120       0.5   72.0
13  Book_013        130       0.5   78.0
14  Book_014        140       0.5   84.0
15  Book_015        150       0.5   90.0
16  Book_016        160       0.5   96.0
17  Book_017        170       0.5  102.0
18  Book_018        180       0.5  108.0
19  Book_019        190       0.5  114.0
20  Book_020        200       0.5  120.0
        Name  ListPrice  Discount  Price
ID
1   Book_001         10       0.9    6.0
2   Book_002         20       0.9   12.0
3   Book_003         30       0.9   18.0
4   Book_004         40       0.9   24.0
5   Book_005         50       0.9   45.0
6   Book_006         60       0.9   54.0
7   Book_007         70       0.9   63.0
8   Book_008         80       0.9   72.0
9   Book_009         90       0.9   81.0
10  Book_010        100       0.9   90.0
11  Book_011        110       0.9   99.0
12  Book_012        120       0.9  108.0
13  Book_013        130       0.9  117.0
14  Book_014        140       0.9  126.0
15  Book_015        150       0.9  135.0
16  Book_016        160       0.9   96.0
17  Book_017        170       0.9  102.0
18  Book_018        180       0.9  108.0
19  Book_019        190       0.9  114.0
20  Book_020        200       0.9  120.0
        Name  ListPrice  Discount  Price
ID
1   Book_001         12       0.9    6.0
2   Book_002         22       0.9   12.0
3   Book_003         32       0.9   18.0
4   Book_004         42       0.9   24.0
5   Book_005         52       0.9   45.0
6   Book_006         62       0.9   54.0
7   Book_007         72       0.9   63.0
8   Book_008         82       0.9   72.0
9   Book_009         92       0.9   81.0
10  Book_010        102       0.9   90.0
11  Book_011        112       0.9   99.0
12  Book_012        122       0.9  108.0
13  Book_013        132       0.9  117.0
14  Book_014        142       0.9  126.0
15  Book_015        152       0.9  135.0
16  Book_016        162       0.9   96.0
17  Book_017        172       0.9  102.0
18  Book_018        182       0.9  108.0
19  Book_019        192       0.9  114.0
20  Book_020        202       0.9  120.0
        Name  ListPrice  Discount  Price
ID
1   Book_001         15       0.9    6.0
2   Book_002         25       0.9   12.0
3   Book_003         35       0.9   18.0
4   Book_004         45       0.9   24.0
5   Book_005         55       0.9   45.0
6   Book_006         65       0.9   54.0
7   Book_007         75       0.9   63.0
8   Book_008         85       0.9   72.0
9   Book_009         95       0.9   81.0
10  Book_010        105       0.9   90.0
11  Book_011        115       0.9   99.0
12  Book_012        125       0.9  108.0
13  Book_013        135       0.9  117.0
14  Book_014        145       0.9  126.0
15  Book_015        155       0.9  135.0
16  Book_016        165       0.9   96.0
17  Book_017        175       0.9  102.0
18  Book_018        185       0.9  108.0
19  Book_019        195       0.9  114.0
20  Book_020        205       0.9  120.0

In [286]:
import pandas as pd
from datetime import date, time, datetime, timedelta
from dateutil.parser import parse

apla = pd.read_excel('/Users/admin/Downloads/4/Monthly Attendance Report-TC 04 For Share.XLS', 
                     sheet_name = 'TC 04 without weekend 0 0.5')

apla = apla.where(apla.notnull(), None)

E_shangban = time(7, 0, 0)
E_xiaban = time(15, 30, 0)
M_shangban = time(15, 30, 0)
M_xiaban = time(0, 0, 0)

CC0044 = apla[apla['工号'] == 'CC0044']
CC0044 = CC0044.reset_index(drop = True)
CC0044.to_excel('/Users/admin/Desktop/xueyun/CC0044.xlsx')

CC0044_shangban = []
CC0044_xiaban = []
for i in CC0044.index:
    s = CC0044.iloc[i]
    s1 = s.notnull()
    s = s[s1]
    CC0044_shangban.append(s[7])
    CC0044_xiaban.append(s[-1])

CC0044_dic = {}
for i, j, k in zip(CC0044.index, CC0044_shangban, CC0044_xiaban):
    CC0044_dic[CC0044['日期'].at[i]] = (j, k)
    
print(CC0044_dic)

for d, sxb in CC0044_dic.items():     # sxb意思是上下班打卡时间
    if sxb[0].time() <= E_shangban and sxb[1].time() >= E_xiaban:
        print(f'{d.date()}: E')
    elif sxb[0].time() <= M_shangban and sxb[1].time() >= M_xiaban:
        print(f'{d.date()}: M')
    else:
        print(f'{d.date()}: X')




















# apla.to_excel('/Users/admin/Desktop/xueyun/apla_original.xlsx')



# delta = apla['2次卡'].at[0] - apla['1次卡'].at[0]
# print(delta)

# shangban = apla['1次卡'].at[0]
# xiaban = apla['2次卡'].at[0]


# s1 = (apla.iloc[0])
# print(s1)
# s1 = s1.where(s1.notnull(), None)

# s1_list = []
# for i in range(8,22):
#     s1_list.append(s1[i])
# print(s1_list)

# while None in s1_list:
#     s1_list.remove(None)

# print(s1_list)

{Timestamp('2020-04-01 00:00:00'): (Timestamp('2020-04-01 06:52:00'), Timestamp('2020-04-01 15:50:00')), Timestamp('2020-04-02 00:00:00'): (Timestamp('2020-04-02 06:53:00'), Timestamp('2020-04-02 15:45:00')), Timestamp('2020-04-03 00:00:00'): (Timestamp('2020-04-03 06:58:00'), Timestamp('2020-04-03 15:47:00')), Timestamp('2020-04-07 00:00:00'): (Timestamp('2020-04-07 14:56:00'), Timestamp('2020-04-07 22:30:00')), Timestamp('2020-04-08 00:00:00'): (Timestamp('2020-04-08 00:08:00'), Timestamp('2020-04-08 15:01:00')), Timestamp('2020-04-09 00:00:00'): (Timestamp('2020-04-09 00:04:00'), Timestamp('2020-04-09 16:38:00')), Timestamp('2020-04-10 00:00:00'): (Timestamp('2020-04-10 00:04:00'), Timestamp('2020-04-10 22:36:00')), Timestamp('2020-04-13 00:00:00'): (Timestamp('2020-04-13 06:57:00'), Timestamp('2020-04-13 14:36:00')), Timestamp('2020-04-14 00:00:00'): (Timestamp('2020-04-14 06:54:00'), Timestamp('2020-04-14 15:47:00')), Timestamp('2020-04-15 00:00:00'): (Timestamp('2020-04-15 06:55:00'), Timestamp('2020-04-15 15:49:00')), Timestamp('2020-04-16 00:00:00'): (Timestamp('2020-04-16 06:53:00'), Timestamp('2020-04-16 15:52:00')), Timestamp('2020-04-17 00:00:00'): (Timestamp('2020-04-17 06:55:00'), Timestamp('2020-04-17 16:23:00')), Timestamp('2020-04-20 00:00:00'): (Timestamp('2020-04-20 14:46:00'), Timestamp('2020-04-20 18:12:00')), Timestamp('2020-04-21 00:00:00'): (Timestamp('2020-04-21 17:23:00'), Timestamp('2020-04-21 14:56:00')), Timestamp('2020-04-22 00:00:00'): (Timestamp('2020-04-22 00:04:00'), Timestamp('2020-04-22 17:50:00')), Timestamp('2020-04-23 00:00:00'): (Timestamp('2020-04-23 00:08:00'), Timestamp('2020-04-23 17:23:00')), Timestamp('2020-04-24 00:00:00'): (Timestamp('2020-04-24 00:07:00'), Timestamp('2020-04-24 14:55:00')), Timestamp('2020-04-26 00:00:00'): (Timestamp('2020-04-26 07:30:00'), Timestamp('2020-04-26 15:39:00')), Timestamp('2020-04-27 00:00:00'): (Timestamp('2020-04-27 06:52:00'), Timestamp('2020-04-27 15:44:00')), Timestamp('2020-04-28 00:00:00'): (Timestamp('2020-04-28 06:54:00'), Timestamp('2020-04-28 15:49:00')), Timestamp('2020-04-29 00:00:00'): (Timestamp('2020-04-29 06:51:00'), Timestamp('2020-04-29 15:45:00')), Timestamp('2020-04-30 00:00:00'): (Timestamp('2020-04-30 06:58:00'), Timestamp('2020-04-30 15:50:00'))}
2020-04-01: E
2020-04-02: E
2020-04-03: E
2020-04-07: M
2020-04-08: M
2020-04-09: E
2020-04-10: E
2020-04-13: M
2020-04-14: E
2020-04-15: E
2020-04-16: E
2020-04-17: E
2020-04-20: M
2020-04-21: X
2020-04-22: E
2020-04-23: E
2020-04-24: M
2020-04-26: M
2020-04-27: E
2020-04-28: E
2020-04-29: E
2020-04-30: E